/*---------------------------------------------------
	Contact Us
---------------------------------------------------*/

.contact {
	margin-bottom: 2rem;
}

.contact__invalidmsg {
  color: red;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
