/*---------------------------------------------------
	Footer
---------------------------------------------------*/

@import '../variables';


.footer {
	display: flex;
	padding: 1rem;
  border-top: 0.5rem solid $fgGreen;
}

.footer__nav {
	flex: 2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-li {
	color: #b2b4b7;
	padding-bottom: 0.5rem;

	@media (min-width: 767px) {
		display: inline-block;
		padding-right: 1rem;
	}
}

.footer__backtotop {
	text-align: right;
  line-height: 1;
}

