/*---------------------------------------------------
	Inner pages
---------------------------------------------------*/

@import '../variables';


.innerpage__header {
  position: relative;
  width: 100%;
  height: 18rem;
}

.innerpage__title {
  position: absolute;
  bottom: 28%;
  width: 100%;
  z-index: 9;
  background-color: $fgLightBlue;
  
  h1 {
  	padding-left: 2rem;
  }

	@media (min-width: 768px) {
		bottom: 0;
	}
}

.innerpage__largeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  object-fit: cover;
  object-position: center center;
}
