/*---------------------------------------------------
	On Sale
---------------------------------------------------*/

@import '../variables';


.onsale-items {
  @include listWrap;
}

.onsale-item {
  margin: 0 0 5rem;

	@media (min-width: 768px) {
    float: left;
    width: 33%;
    padding: 0 2rem;
  }
}

.onsale-item-img {
  max-width: 100%;
  height: auto;
  margin-bottom: -0.25rem;
}

.onsale-item-inner {
  border: 0.2rem solid $fgBlue;
  
  p {
  	line-height: 1.4;
  }
}

.onsale-item-innertext {
  padding: 1rem 1rem 0;
  border-top: 0.4rem solid $fgBlue;
  
  h3 {
  	margin: 0
  }
  
  p {
  	border-top: 0.2rem solid $fgBlue;
  }
}

.onsale-deal {
  color: red;
  padding-left: 0.6rem;
}
