# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
___original files
__v1 - no react router
.DS_Store
.env
npm-debug.log
*.doc
*.docx
