/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/

@import '../_variables';


.btn {
  text-transform: uppercase;
  
  &, &:active, &:focus {
    @include linkEffects;
    @include buttonStyle;
  }
  
  &:hover {
    @include linkEffectsHover;
    color: white;
  }
}

.btn--submit {
	&, &:active, &:focus {
	  border: none;
	  box-shadow: none;
	  padding: 10px 30px;
	}
}


/******* Navigation *******/

.nav-list a {
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
}

.nav-list--mb a {
	font-size: 1.4em;
	transition: color 0.3s;

	&, 
	&:focus {
		color: $fgGreen;
	}

	&:hover, 
	&.active {
		color: #ace9d0
	}
}

.nav-list--dt a {
  color: white;
  font-size: 1.2em;

  &:hover,
  &.active {
  	border-bottom: 0.15em solid white
  }
}

.footer__nav a {
	text-decoration: none;
	
	&, 
	&:focus {
		color: $fgGreen;
	}

	&:hover {
		border-bottom: 0.05em solid $fgGreen
	}
}


/******* Footer *******/

.btn-backtotop {
  color: $fgGreen;
  font-size: 4em;
  cursor: pointer;
  opacity: 0.6;
  @include transitionOpacity;
  
  &:hover {opacity: 1}
}
