/*---------------------------------------------------
	Contact Us
---------------------------------------------------*/

.contact__validmsg,
.contact__invalidmsg {
  display: none;
}

.contact__validmsg {
  text-align: center;
}

.contact__invalidmsg {
  color: red;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}
