/*---------------------------------------------------
	Footer
---------------------------------------------------*/

@import '../_variables';


.footer {
	padding: 1em;
  border-top: 0.5em solid $fgGreen;
}

.footer__nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
  	color: #b2b4b7;
  	margin-bottom: 0.5em
  }
}

.footer__backtotop {
  float: right;
  line-height: 1;
}


@media (min-width: 600px) {
  .footer__nav li {
    display: inline-block;
    margin-right: 1.2em;
  }
  
  .footer__nav,
  .footer__backtotop {
    float: none;
    display: table-cell;
  }
  
  .footer__nav {
    width: 100%;
    vertical-align: middle;
  }
  
  .footer__backtotop {
    text-align: right;
  }
}




