/*---------------------------------------------------
	Forms
---------------------------------------------------*/

.form {
  padding-bottom: 2rem;
}

.form__group {
  margin-bottom: 2rem;
  
  textarea {
  	resize: none;
  }
}

.form__label,
.form__input {
  display: block;
}

.form__input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 0.15rem solid #ccc;
  
  &:focus {
    outline: none;
    border-color: #b8cce4; 
  }
}
 
.form__asterisk {
  color: red;
}


/*************** MEDIA QUERIES ***************/

@media (min-width: 860px) {
  .form__group {
    display: table;
    width: 100%;
    max-width: 790px;
  }

  .form__label,
  .form__input {
    display: table-cell;
    vertical-align: top;
  }
    
  .form__label {
    width: 30%;
  }
  
  .form__input {
    width: 70%;
  }
}
