/*---------------------------------------------------
	Header boxes
---------------------------------------------------*/

.headertext {
  background-color: rgba(226,243,243,0.85);
}

.headertext--homepage {
	max-width: 400px;
  padding: 3em;
}

.main--home {
  margin-left: -1px;

  .react-parallax-content {
    min-height: 500px;
    padding-top: 2em;
    padding-left: 3em;
  }
}

.innerpage__header {
  position: relative;
}

.headertext--innerpage {
  position: absolute;
  bottom: 28%;
  width: 100%;
  z-index: 9;
  h1 {padding: 0 1em;}
}


@media (min-width: 540px) {
  .main--home .react-parallax-content {
    padding-top: 7em;
    padding-left: 5em;
  }
}


@media (min-width: 768px) {
  .headertext--innerpage {bottom: 0}
}
