/*---------------------------------------------------
	Headers
---------------------------------------------------*/

.header-dt-wrap,
.header-mobile {
  border-bottom: 0.5rem solid $fgGreen;
}

.header-mobile {
  background-color: $fgNav;
  padding: 1.3rem 1rem 1rem 6rem;

  @media (min-width: 768px) {
  	display: none;
  }
}

.header-dt-wrap {
  background-color: $fgNav;
  padding: 0.8rem 1.5rem 0.5rem;

	@media (max-width: 767px) {
		display: none;
	}
}

.header-dt {
	@media (min-width: 992px) {
  	display: inline-block;
  	vertical-align: middle;
	}
}

.header-img {	
	max-width: 100%;
}

.header-img--mb {
	width: 208px;
}

.header-img--dt {
  width: 250px;
}
