/*---------------------------------------------------
	Homepage
---------------------------------------------------*/

.homebox {
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 539px) {
    display: flex;
    min-height: 23rem;
  }
  
	@media (min-width: 540px) {
    min-height: 31rem;
    padding-top: 7rem;
    padding-left: 5rem;
  }
}

.homebox__inner {
  background-color: $fgLightBlue;

  @media (max-width: 539px) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
  }

  @media (min-width: 540px) {
    max-width: 25rem;
    padding: 1rem 3rem;
  }
}
