/*---------------------------------------------------
	Homepage
---------------------------------------------------*/

/*
.homepage {
  margin-left: -1px;
}
*/

.homebox {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-left: 3em;
  
	@media (min-width: 540px) {
    padding-top: 7em;
    padding-left: 5em;
  }
}

.homebox__inner {
  background-color: $fgLightBlue;
	max-width: 400px;
  padding: 3em;
}
