/*---------------------------------------------------
	Inner pages
---------------------------------------------------*/

@import '../variables';


.innerpage__title {
  position: absolute;
  bottom: 28%;
  width: 100%;
  z-index: 9;
  background-color: $fgLightBlue;
  
  h1 {
  	padding-left: 2rem;
  }

	@media (min-width: 768px) {
		bottom: 0;
	}
}

.innerpage__largeBgImg {
  min-height: 19rem;
  background-size: cover;
  background-position: center;
}
