/*---------------------------------------------------
	Navigation and Headers
---------------------------------------------------*/

@import '../variables';


.nav-list {
	list-style: none;

  li { 
  	text-transform: uppercase;
  }
}

.header-mobile,
.nav-dt {
  border-bottom: 0.5em solid $fgGreen;
}


/******************* MOBILE *******************/

.header-mobile {
  background-color: $fgNav;
  padding: 1.3em 1em 1em 6em;
  
  img {
    width: 208px;
    max-width: 100%;
  }
}

.bm-menu {
	overflow-y: hidden !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 28px;
  top: -62px;
}

/* Burger icon bars */
.bm-burger-bars {
  background: white;
  
  &, 
  &:hover, 
  &:active {
  	opacity: 1 !important;
  }
}

/* Close button */
.bm-cross-button {
  display: none;
}

/* Close button icon */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.15em;
  padding: 1em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.bm-morph-shape {
  fill: #373a47;
}

/* Open menu */
.bm-menu {
  background-color: white;
}

.nav-list--mb {
	padding: 0;
	margin: 0;
  
  li {
    margin-bottom: 1em;
    border-bottom: 1px solid #e8e8e8;
  }
}


.header-mobile + div {
  height: 0;
}


/******************* DESKTOP *******************/

.header-dt img {
  width: 250px;
  max-width: 100%
}

.nav-dt {
  background-color: $fgNav;
  padding: 0.8em 1.5em 0.5em;
}

.nav-list--dt {
  padding: 1em 0 0.5em;
  margin: 0;
  
	li {
		display: inline-block;	
		margin-right: 2em;
	}
}


/*************** MEDIA QUERIES ***************/

@media (max-width: 767px) {
	.nav-dt {
		display: none;
	}
}

@media (min-width: 768px) {
	.header-mobile,
	.bm-overlay,
	.bm-menu-wrap {
		display: none;
	}

	#page-wrap {
		transition: none !important;
		transform: none !important;
	}
}

@media (min-width: 992px) {
  .header-dt, 
  .nav-list--dt {
    display: inline-block;
    vertical-align: middle;
  }
  
  .nav-list--dt {
    padding: 0.2em 0 0.5em 2em;
  }
}
