/*---------------------------------------------------
	Navigation
---------------------------------------------------*/

@import '../variables';


.nav-list {
	list-style: none;

  li { 
  	text-transform: uppercase;
  }
}

/******************* MOBILE *******************/

.bm-menu {
	overflow-y: hidden !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 28px;
  top: -62px;
}

/* Burger icon bars */
.bm-burger-bars {
  background: white;
  
  &, 
  &:hover, 
  &:active {
  	opacity: 1 !important;
  }
}

/* Close button */
.bm-cross-button {
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.15rem;
  padding: 2rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8rem;
}

/* Overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.bm-morph-shape {
  fill: #373a47;
}

/* Open menu */
.bm-menu {
  background-color: white;
}

.nav-list--mb {
	padding: 0;
	margin: 0;
}

.nav-item-mb {
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #e8e8e8;
}

.bm-menu-wrap + div {
  height: 0;
}

@media (min-width: 768px) {
	.bm-overlay,
	.bm-menu-wrap {
		display: none;
	}

	#page-wrap {
		transition: none !important;
		transform: none !important;
	}
}


/******************* DESKTOP *******************/

.nav-list--dt {
	display: inline-block;
  vertical-align: middle;
  padding: 1rem 0 0.5rem;
  margin: 0;
  
	@media (min-width: 992px) {
    padding: 0.2rem 0 0.5rem 2rem;
  }
}

.nav-item-dt {
	display: inline-block;	
	margin-right: 2rem;
}
