/*---------------------------------------------------
	On Sale
---------------------------------------------------*/

@import '../_variables';


.onsale-list {
  @include listWrap;
}

.onsale-li {
  margin: 0 0 5em;

  img {
    max-width: 100%;
    margin-bottom: -0.25em;
  }
}

.onsale-li-inner {
  border: 0.2em solid $fgBlue;
  
  p {
  	line-height: 1.4;
  }
}

.onsale-li-innertext {
  padding: 10px 10px 0;
  border-top: 0.4em solid $fgBlue;
  
  h3 {
  	margin: 0
  }
  
  p {
  	border-top: 0.2em solid $fgBlue;
  }
}

.onsale-deal {
  color: red;
  padding-left: 0.6em;
}


/*************** MEDIA QUERIES ***************/

@media (min-width: 768px) {
  .onsale-list {
    margin-right: -15px;
    margin-left: -15px;
  }

  .onsale-li {
    float: left;
    width: 33%;
    padding: 0 2em;
  }
}
