/*---------------------------------------------------
  Recipes
---------------------------------------------------*/

@import '../_variables';


.recipes-list {
  display: inline-block;
  max-width: 1080px;
  @include listWrap;
}

.recipes-li {
	text-align: left;
  margin: 0 0 5rem;

	@media (min-width: 1024px) {
    float: left;
    width: 33%;
    padding: 0 2rem;
  }
}

.recipes-li-reveal {
  @include linkEffects;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, $fgBlue 50%, $fgGreen 50%);
  transition: background-position 0.3s, color 0.3s;
  
  &:hover {
  	background-position: 0 -100%;
  }
}

.recipes-li-inner {
	background-size: cover;
}

.recipes-li-innertext {
  background-color: rgba(255,255,255,0.93);
  padding: 1.2rem;
  cursor: default;
  
  h3 {
  	margin: 0;
  } 
}

.recipes-li-links {
  opacity: 0;
  @include transitionOpacity;
}


.recipes-li-reveal:hover {
  .recipes-li-innertext {
    background-color: rgba(226,243,243,0.93);
  }
  
  .recipes-li-links {
    opacity: 1;
  }
}


/*************** MEDIA QUERIES ***************/

@media (min-width: 1024px) {
  .recipes-li-inner,
  .recipes-li-innertext  {
    min-height: 16rem;
  }
}

