/*---------------------------------------------------
  Base styles
---------------------------------------------------*/

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
      color: inherit !important;
      background: inherit !important;
  }
}

.container {
  padding: 2% 10%;
}
