/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/

@import './variables';

:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

.btn {
  text-transform: uppercase;
  
  &, 
  &:active, 
  &:focus {
    @include linkEffects;
    @include buttonStyle;
  }
  
  &:hover {
    @include linkEffectsHover;
    color: white;
  }
}

.btn-recipe {
	background: none;
	color: black;
	line-height: 1.5;
	text-decoration: none;
	padding: 0;
	border: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom .2s;

	&:hover {
		border-bottom: 1px solid black;
	}
}

.btn--submit {
	cursor: pointer;

	&, &:active, &:focus {
	  border: none;
	  box-shadow: none;
	  padding: 0.7rem 1.9rem;
	}
}


/******* Navigation *******/

.nav-list a {
	font-family: var(--font-rubik), sans-serif;
	text-decoration: none;
}

.nav-list--mb a {
	font-size: 1.6rem;
	transition: color 0.3s;

	&, 
	&:focus {
		color: $fgGreen;
	}

	&:hover, 
	&.active {
		color: black;
	}
}

.nav-list--dt a {
  color: white;
  font-size: 1.2rem;

  &:hover,
  &.active {
  	border-bottom: 0.15rem solid white
  }
}


/******* Footer *******/

.btn-footer {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	color: $fgGreen;
	font-size: 1rem;
	cursor: pointer;

	&:hover {
		border-bottom: 0.05rem solid $fgGreen
	}
}

.btn-backtotop {
  opacity: 0.6;
  background: none;
  border: none;
  color: $fgGreen;
  font-size: 4rem;
  cursor: pointer;
  @include transitionOpacity;
  
  &:hover {
  	opacity: 1
  }
}
