/*---------------------------------------------------
	Utilities
---------------------------------------------------*/

.u-clearfix:before, 
.u-clearfix:after {
	display: table;
	content: '';
}

.u-clearfix:after {
	clear: both;
}

.u-relative {
  position: relative;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-no-overflow {
	overflow: hidden;
	position: fixed;
}

.u-no-overflow-mb {
	@media (max-width: 767px) {
		overflow: hidden;
	}

	// Safari only
	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) {
				overflow: hidden;
				position: fixed;
	}}
}

// Text for screen readers 
.u-sr {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}