/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
/*---------------------------------------------------
  Base styles
---------------------------------------------------*/
.innerpage__maintext {
  padding: 2% 10%; }

.main--innerpage .react-parallax-content {
  min-height: 300px; }

/*---------------------------------------------------
	Typography
---------------------------------------------------*/
h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: normal; }

p,
.contact__form {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.8; }

hr {
  border: none;
  border-bottom: 0.2em solid #cff1e3; }

.textlink {
  text-transform: uppercase; }
  .textlink, .textlink:active, .textlink:focus {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: #cff1e3;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .textlink:hover {
    background-color: #6fa83c;
    color: white; }

/*---------------------------------------------------
	Navigation
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.nav--mobile__list,
.nav--dt__list {
  list-style: none; }
  .nav--mobile__list li,
  .nav--dt__list li {
    text-transform: uppercase; }
  .nav--mobile__list a,
  .nav--dt__list a {
    font-family: 'Rubik', sans-serif; }

.logo--mobile,
.nav--dt {
  border-bottom: 0.5em solid #6fa83c; }

/******************* MOBILE *******************/
.logo--mobile {
  background-color: #a8d67f;
  padding: 1.3em 1em 1em 6em; }
  .logo--mobile img {
    width: 208px;
    max-width: 100%; }

.bm-menu {
  overflow-y: hidden !important; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 28px;
  top: -62px; }

/* Burger icon bars */
.bm-burger-bars {
  background: white; }
  .bm-burger-bars, .bm-burger-bars:hover, .bm-burger-bars:active {
    opacity: 1 !important; }

/* Close button */
.bm-cross-button {
  display: none; }

/* Close button icon */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.15em;
  padding: 1em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em; }

/* Overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.3); }

.bm-morph-shape {
  fill: #373a47; }

/* Open menu */
.bm-menu {
  background-color: white; }
  .bm-menu a {
    color: #b8b7ad; }
    .bm-menu a:hover, .bm-menu a:focus {
      color: #c94e50; }

.nav--mobile__list {
  padding: 0;
  margin: 0; }
  .nav--mobile__list li {
    margin-bottom: 1em;
    border-bottom: 1px solid #e8e8e8; }
  .nav--mobile__list a {
    font-size: 1.4em;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
    .nav--mobile__list a, .nav--mobile__list a:focus {
      color: #6fa83c; }
    .nav--mobile__list a:hover {
      color: #ace9d0; }

.logo--mobile + div {
  height: 0; }

/******************* DESKTOP *******************/
.nav--dt {
  background-color: #a8d67f;
  padding: 0.8em 1.5em 0.5em; }

.logo--dt img {
  width: 250px;
  max-width: 100%; }

.nav--dt__list {
  padding: 1em 0 0.5em;
  margin: 0; }
  .nav--dt__list li {
    display: inline-block;
    margin-right: 2em; }
  .nav--dt__list a {
    color: white;
    text-decoration: none;
    font-size: 1.2em; }
    .nav--dt__list a:hover {
      border-bottom: 0.15em solid white; }

/*************** MEDIA QUERIES ***************/
@media (max-width: 767px) {
  .nav--dt {
    display: none; } }

@media (min-width: 768px) {
  .logo--mobile {
    display: none; } }

@media (min-width: 992px) {
  .logo--dt,
  .nav--dt__list {
    display: inline-block;
    vertical-align: middle; }
  .nav--dt__list {
    padding: 0.2em 0 0.5em 2em; } }

/*---------------------------------------------------
	Header boxes
---------------------------------------------------*/
.headertext {
  background-color: rgba(226, 243, 243, 0.85); }

.headertext--homepage {
  max-width: 400px;
  padding: 3em; }

.main--home {
  margin-left: -1px; }
  .main--home .react-parallax-content {
    min-height: 500px;
    padding-top: 2em;
    padding-left: 3em; }

.innerpage__header {
  position: relative; }

.headertext--innerpage {
  position: absolute;
  bottom: 28%;
  width: 100%;
  z-index: 9; }
  .headertext--innerpage h1 {
    padding: 0 1em; }

@media (min-width: 540px) {
  .main--home .react-parallax-content {
    padding-top: 7em;
    padding-left: 5em; } }

@media (min-width: 768px) {
  .headertext--innerpage {
    bottom: 0; } }

/*---------------------------------------------------
	Footer
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
footer {
  padding: 1em;
  border-top: 0.5em solid #6fa83c; }

.footer__nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer__nav li {
    margin-bottom: 0.5em; }
  .footer__nav a {
    text-decoration: none; }
    .footer__nav a, .footer__nav a:focus {
      color: #6fa83c; }
    .footer__nav a:hover {
      border-bottom: 0.05em solid #6fa83c; }

.footer__backtotop {
  float: right;
  line-height: 1; }

.backtotop__btn {
  color: #6fa83c;
  font-size: 4em;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }
  .backtotop__btn:hover {
    opacity: 1; }

@media (min-width: 600px) {
  .footer__nav li {
    display: inline-block;
    margin-right: 1.2em; }
  .footer__nav,
  .footer__backtotop {
    float: none;
    display: table-cell; }
  .footer__nav {
    width: 100%;
    vertical-align: middle; }
  .footer__backtotop {
    text-align: right; } }

/*---------------------------------------------------
  Find Stores
---------------------------------------------------*/
.findstores__list {
  width: 100%;
  padding-left: 1em;
  margin: 3em auto 0; }
  .findstores__list *, .findstores__list *:after, .findstores__list *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.findstores__list__item {
  list-style-type: none;
  padding-left: 0.4em;
  margin-bottom: 5em;
  border-left: 1px solid #53aa0e; }
  .findstores__list__item:before {
    font-family: FontAwesome;
    content: "\f041";
    position: absolute;
    left: -0.65em;
    color: #53aa0e;
    font-size: 50px;
    line-height: 0.8; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 768px) {
  .findstores__list {
    max-width: 770px; }
  .findstores__list__item {
    float: left;
    width: 50%; } }

/*---------------------------------------------------
	On Sale
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.onsale__list {
  width: 100%;
  margin: 3em auto 0; }
  .onsale__list *, .onsale__list *:after, .onsale__list *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.onsale__list__item {
  margin: 0 0 5em; }
  .onsale__list__item img {
    max-width: 100%;
    margin-bottom: -0.25em; }

.onsale__list__item__inner {
  border: 0.2em solid #cff1e3; }
  .onsale__list__item__inner p {
    line-height: 1.4; }

.onsale__list__item__innertext {
  padding: 10px 10px 0;
  border-top: 0.4em solid #cff1e3; }
  .onsale__list__item__innertext h3 {
    margin: 0; }
  .onsale__list__item__innertext p {
    border-top: 0.2em solid #cff1e3; }

.onsale__deal {
  color: red;
  padding-left: 0.6em; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 768px) {
  .onsale__list {
    margin-right: -15px;
    margin-left: -15px; }
  .onsale__list__item {
    float: left;
    width: 33%;
    padding: 0 2em; } }

/*---------------------------------------------------
  Recipes
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.innerpage__maintext--recipes {
  text-align: center; }
  .innerpage__maintext--recipes > h2,
  .innerpage__maintext--recipes .recipes__list__item {
    text-align: left; }

.recipes__list {
  width: 100%;
  margin: 3em auto 0;
  max-width: 1080px;
  display: inline-block; }
  .recipes__list *, .recipes__list *:after, .recipes__list *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.recipes__list__item {
  margin: 0 0 5em; }

.recipes__list__item__hover {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #cff1e3 50%, #6fa83c 50%);
  -webkit-transition: background-position 0.3s, color 0.3s;
  -moz-transition: background-position 0.3s, color 0.3s;
  transition: background-position 0.3s, color 0.3s; }
  .recipes__list__item__hover:hover {
    background-position: 0 -100%; }

.recipes__list__item__innertext {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 15px;
  cursor: default; }
  .recipes__list__item__innertext h3 {
    margin: 0; }

.list__item__links {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }
  .list__item__links a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; }
    .list__item__links a:hover {
      border-bottom: 1px solid black; }

.recipes__list__item__hover:hover .recipes__list__item__innertext {
  background-color: rgba(226, 243, 243, 0.93); }

.recipes__list__item__hover:hover .list__item__links {
  opacity: 1; }

.loadmore--wrap {
  display: block;
  color: #cff1e3;
  font-size: 50px;
  text-align: center;
  padding-bottom: 0.5em;
  clear: both; }

.loadmore--btn {
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }
  .loadmore--btn:hover {
    color: #6fa83c; }

.loadmore--hide {
  display: none; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 1024px) {
  .recipes__list__item__inner,
  .recipes__list__item__innertext {
    min-height: 400px; }
  .recipes__list {
    margin-right: -15px;
    margin-left: -15px; }
  .recipes__list__item {
    float: left;
    width: 33%;
    padding: 0 2em; } }

/*---------------------------------------------------
	Contact Us
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.contact__validmsg,
.contact__invalidmsg {
  display: none; }

.contact__validmsg {
  text-align: center; }

.contact__invalidmsg {
  color: red;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px; }

.requiredstar {
  color: red; }

.contact__btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #cff1e3;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: none;
  box-shadow: none;
  padding: 10px 30px; }
  .contact__btn:hover, .contact__btn:active {
    background-color: #6fa83c;
    color: white; }

.form__group {
  margin-bottom: 2em; }
  .form__group select {
    max-width: 100%; }
  .form__group textarea {
    resize: none; }

.form__label,
.form__input {
  display: block; }

.form__input {
  padding: 5px 10px;
  border: 0.15em solid #ccc; }
  .form__input:focus {
    outline: none;
    border-color: #b8cce4; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 860px) {
  .form__group {
    display: table;
    width: 100%;
    max-width: 790px; }
  .form__label,
  .form__input {
    display: table-cell;
    vertical-align: top; }
  .form__label {
    width: 30%; }
  .form__input {
    width: 70%; } }

/*---------------------------------------------------
	Utilities
---------------------------------------------------*/
.u-relative {
  position: relative; }
