/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
/*---------------------------------------------------
  Base styles
---------------------------------------------------*/
.container {
  padding: 2% 10%; }

/*---------------------------------------------------
	Typography
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: normal; }

p,
.form {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.8; }

hr {
  border: none;
  border-bottom: 0.2em solid #cff1e3; }

/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.btn {
  text-transform: uppercase; }
  .btn, .btn:active, .btn:focus {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: #cff1e3;
    transition: background-color 0.3s; }
  .btn:hover {
    background-color: #6fa83c;
    color: white; }

.btn--submit, .btn--submit:active, .btn--submit:focus {
  border: none;
  box-shadow: none;
  padding: 10px 30px; }

/******* Navigation *******/
.nav-list a {
  font-family: 'Rubik', sans-serif;
  text-decoration: none; }

.nav-list--mb a {
  font-size: 1.4em;
  transition: color 0.3s; }
  .nav-list--mb a, .nav-list--mb a:focus {
    color: #6fa83c; }
  .nav-list--mb a:hover, .nav-list--mb a.active {
    color: #ace9d0; }

.nav-list--dt a {
  color: white;
  font-size: 1.2em; }
  .nav-list--dt a:hover, .nav-list--dt a.active {
    border-bottom: 0.15em solid white; }

/******* Footer *******/
.footer__nav a {
  text-decoration: none; }
  .footer__nav a, .footer__nav a:focus {
    color: #6fa83c; }
  .footer__nav a:hover {
    border-bottom: 0.05em solid #6fa83c; }

.btn-backtotop {
  color: #6fa83c;
  font-size: 4em;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .25s ease-in-out; }
  .btn-backtotop:hover {
    opacity: 1; }

/*---------------------------------------------------
	Forms
---------------------------------------------------*/
.form__group {
  margin-bottom: 2em; }
  .form__group select {
    max-width: 100%; }
  .form__group textarea {
    resize: none; }

.form__label,
.form__input {
  display: block; }

.form__input {
  padding: 5px 10px;
  border: 0.15em solid #ccc; }
  .form__input:focus {
    outline: none;
    border-color: #b8cce4; }

.form__reqstar {
  color: red; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 860px) {
  .form__group {
    display: table;
    width: 100%;
    max-width: 790px; }
  .form__label,
  .form__input {
    display: table-cell;
    vertical-align: top; }
  .form__label {
    width: 30%; }
  .form__input {
    width: 70%; } }

/*---------------------------------------------------
	Navigation and Headers
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.nav-list {
  list-style: none; }
  .nav-list li {
    text-transform: uppercase; }

.header-mobile,
.nav-dt {
  border-bottom: 0.5em solid #6fa83c; }

/******************* MOBILE *******************/
.header-mobile {
  background-color: #a8d67f;
  padding: 1.3em 1em 1em 6em; }
  .header-mobile img {
    width: 208px;
    max-width: 100%; }

.bm-menu {
  overflow-y: hidden !important; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 28px;
  top: -62px; }

/* Burger icon bars */
.bm-burger-bars {
  background: white; }
  .bm-burger-bars, .bm-burger-bars:hover, .bm-burger-bars:active {
    opacity: 1 !important; }

/* Close button */
.bm-cross-button {
  display: none; }

/* Close button icon */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.15em;
  padding: 1em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em; }

/* Overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.3); }

.bm-morph-shape {
  fill: #373a47; }

/* Open menu */
.bm-menu {
  background-color: white; }

.nav-list--mb {
  padding: 0;
  margin: 0; }
  .nav-list--mb li {
    margin-bottom: 1em;
    border-bottom: 1px solid #e8e8e8; }

.header-mobile + div {
  height: 0; }

/******************* DESKTOP *******************/
.header-dt img {
  width: 250px;
  max-width: 100%; }

.nav-dt {
  background-color: #a8d67f;
  padding: 0.8em 1.5em 0.5em; }
  @media (max-width: 767px) {
    .nav-dt {
      display: none; } }

.nav-list--dt {
  padding: 1em 0 0.5em;
  margin: 0; }
  .nav-list--dt li {
    display: inline-block;
    margin-right: 2em; }
  @media (min-width: 992px) {
    .nav-list--dt {
      padding: 0.2em 0 0.5em 2em; } }

/*************** MEDIA QUERIES ***************/
@media (min-width: 768px) {
  .header-mobile,
  .bm-overlay,
  .bm-menu-wrap {
    display: none; }
  #page-wrap {
    transition: none !important;
    transform: none !important; } }

@media (min-width: 992px) {
  .header-dt,
  .nav-list--dt {
    display: inline-block;
    vertical-align: middle; } }

/*---------------------------------------------------
	Footer
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.footer {
  padding: 1em;
  border-top: 0.5em solid #6fa83c; }

.footer__nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer__nav li {
    color: #b2b4b7;
    margin-bottom: 0.5em; }

.footer__backtotop {
  float: right;
  line-height: 1; }

@media (min-width: 600px) {
  .footer__nav li {
    display: inline-block;
    margin-right: 1.2em; }
  .footer__nav,
  .footer__backtotop {
    float: none;
    display: table-cell; }
  .footer__nav {
    width: 100%;
    vertical-align: middle; }
  .footer__backtotop {
    text-align: right; } }

/*---------------------------------------------------
	Homepage
---------------------------------------------------*/
/*
.homepage {
  margin-left: -1px;
}
*/
.homebox {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-left: 3em; }
  @media (min-width: 540px) {
    .homebox {
      padding-top: 7em;
      padding-left: 5em; } }

.homebox__inner {
  background-color: rgba(226, 243, 243, 0.85);
  max-width: 400px;
  padding: 3em; }

/*---------------------------------------------------
	Inner pages
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.innerpage .react-parallax-content {
  min-height: 300px; }

.innerpage__title {
  position: absolute;
  bottom: 28%;
  width: 100%;
  z-index: 9;
  background-color: rgba(226, 243, 243, 0.85); }
  .innerpage__title h1 {
    padding: 0 1em; }
  @media (min-width: 768px) {
    .innerpage__title {
      bottom: 0; } }

/*---------------------------------------------------
  Find Stores
---------------------------------------------------*/
.findstores-list {
  width: 100%;
  padding-left: 1em;
  margin: 3em auto 0; }
  .findstores-list *, .findstores-list *:after, .findstores-list *:before {
    box-sizing: border-box; }
  @media (min-width: 768px) {
    .findstores-list {
      max-width: 770px; } }

.findstores-li {
  list-style-type: none;
  padding-left: 0.4em;
  margin-bottom: 5em;
  border-left: 1px solid #53aa0e; }
  .findstores-li:before {
    font-family: FontAwesome;
    content: "\f041";
    position: absolute;
    left: -0.65em;
    color: #53aa0e;
    font-size: 50px;
    line-height: 0.8; }
  @media (min-width: 768px) {
    .findstores-li {
      float: left;
      width: 50%; } }

/*---------------------------------------------------
	On Sale
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.onsale-list {
  width: 100%;
  margin: 3em auto 0; }
  .onsale-list *, .onsale-list *:after, .onsale-list *:before {
    box-sizing: border-box; }
  @media (min-width: 768px) {
    .onsale-list {
      margin-right: -15px;
      margin-left: -15px; } }

.onsale-li {
  margin: 0 0 5em; }
  .onsale-li img {
    max-width: 100%;
    margin-bottom: -0.25em; }
  @media (min-width: 768px) {
    .onsale-li {
      float: left;
      width: 33%;
      padding: 0 2em; } }

.onsale-li-inner {
  border: 0.2em solid #cff1e3; }
  .onsale-li-inner p {
    line-height: 1.4; }

.onsale-li-innertext {
  padding: 10px 10px 0;
  border-top: 0.4em solid #cff1e3; }
  .onsale-li-innertext h3 {
    margin: 0; }
  .onsale-li-innertext p {
    border-top: 0.2em solid #cff1e3; }

.onsale-deal {
  color: red;
  padding-left: 0.6em; }

/*---------------------------------------------------
  Recipes
---------------------------------------------------*/
/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/
.recipes-list {
  display: inline-block;
  max-width: 1080px;
  width: 100%;
  margin: 3em auto 0; }
  .recipes-list *, .recipes-list *:after, .recipes-list *:before {
    box-sizing: border-box; }
  @media (min-width: 1024px) {
    .recipes-list {
      margin-right: -15px;
      margin-left: -15px; } }

.recipes-li {
  text-align: left;
  margin: 0 0 5em; }
  @media (min-width: 1024px) {
    .recipes-li {
      float: left;
      width: 33%;
      padding: 0 2em; } }

.recipes-li-reveal {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #cff1e3 50%, #6fa83c 50%);
  transition: background-position 0.3s, color 0.3s; }
  .recipes-li-reveal:hover {
    background-position: 0 -100%; }

.recipes-li-inner {
  background-size: cover; }

.recipes-li-innertext {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 15px;
  cursor: default; }
  .recipes-li-innertext h3 {
    margin: 0; }

.recipes-li-links {
  opacity: 0;
  transition: opacity .25s ease-in-out; }
  .recipes-li-links a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; }
    .recipes-li-links a:hover {
      border-bottom: 1px solid black; }

.recipes-li-reveal:hover .recipes-li-innertext {
  background-color: rgba(226, 243, 243, 0.93); }

.recipes-li-reveal:hover .recipes-li-links {
  opacity: 1; }

/*************** MEDIA QUERIES ***************/
@media (min-width: 1024px) {
  .recipes-li-inner,
  .recipes-li-innertext {
    min-height: 400px; } }

/*---------------------------------------------------
	Contact Us
---------------------------------------------------*/
.contact {
  margin-bottom: 2em; }

.contact__validmsg,
.contact__invalidmsg {
  display: none; }

.contact__validmsg {
  text-align: center; }

.contact__invalidmsg {
  color: red;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px; }

/*---------------------------------------------------
	Utilities
---------------------------------------------------*/
.u-clearfix:before,
.u-clearfix:after {
  display: table;
  content: ''; }

.u-clearfix:after {
  clear: both; }

.u-relative {
  position: relative; }

.u-text-left {
  text-align: left; }

.u-text-center {
  text-align: center; }
