/*---------------------------------------------------
	Typography
---------------------------------------------------*/

@import './variables';


h1,
h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {	     
    font-weight: 300
}

h3 {
  font-weight: normal;
}

p, 
.form {
	font-family: 'Noto Sans', sans-serif;
  line-height: 1.8;
}

hr {
  border: none;
  border-bottom: 0.2em solid $fgBlue;
}

.maintext {
  padding: 2% 10%;
}

.maintext--recipes {
  text-align: center;
}

.recipes-li {
	text-align: left;
}