/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/

$fgBlue: #cff1e3;
$fgGreen: #6fa83c;
$fgNav: #a8d67f;
$fgLightBlue: rgba(226,243,243,0.85);


@mixin linkEffects {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0.6rem;
}

@mixin linkEffectsHover {
  background-color: $fgGreen; 
}

@mixin buttonStyle {
  background-color: $fgBlue;
  transition: background-color 0.3s;
}

@mixin listWrap {
  width: 100%;
  margin: 3rem auto 0;
  
  *, *:after, *:before {
    box-sizing: border-box;
  }
}

@mixin transitionOpacity {
  transition: opacity 0.25s ease-in-out;
}
